
/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Colors
*  2.0 - Fonts
*  3.0 - Globals
*  4.0 - Sections
*  5.0 - Header
*  6.0 - Body
*    6.1 - Sliders
*    6.2 - Imagery
*  7.0 - Footer
*/


/* --- 1.0 Colors + Font --- */
$text-color: #3D405B;
$primary: #ffd89a;
$primaryLight: #F3D199;
$neutral:#f3f3f3;
$secondary: #e07a5f;
$secondarygreen: #FFC66A;
$secondaryDark: #3D405B;

$font-title: masqualero, sans-serif;
$font-text: bilo, sans-serif;



/* --- 2.0 Fonts --- */
@import url("https://use.typekit.net/fqh3gis.css");


/* --- 3.0 Globals --- */
*,
*::after,
*::before {
	box-sizing: border-box;
	scrollbar-color: #ccc white;
}


  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 0.7rem;
  }
  
  *::-webkit-scrollbar-track {
	background:none;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: $neutral;
  }

:root {
    scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}


html { font-size: 62.5%; 
}
body {  
	width:100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	outline: none;
}
.navbar {
    &.is-transparent {
    background-color: transparent;
    background-image: none;
    }
	}

	a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active,
	.navbar-link:focus,
	.navbar-link:focus-within,
	.navbar-link:hover,
	.navbar-link.is-active {
	  color: white!important;
  }	

  .navbar-link:not(.is-arrowless)::after {
	border-color: white !important;
	margin-top: -0.375em;
}

.navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
	background-color: transparent!important;
	color: $secondarygreen !important;
}

.fancylink {  background:linear-gradient(to bottom, white 0%, white 100%);
	background-position: 0 100%;
	color:white!important;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	text-decoration: none;
	transition: background-size .2s;}	
   
.fancylink:hover {  background-size: 4px 3rem;}



/* --- 4.0 Sections --- */

body section {    scroll-snap-align: start; }
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
	background-image: linear-gradient(to top, rgba(224,122,95, 0.80), rgba(224,122,95, 1)),url("/img/herobg.png");
	background-position: center;
	background-size: cover;
    width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
	  "navbar"
	  "intro"
	  "scrolldown";
  }

  #hero .content {
	z-index:2;
	max-height:90vh;
	grid-area: intro;
	width: 100%;
	padding:8rem 6rem 6rem 6rem;

	& p {
	font-family:$font-text;
	text-transform:uppercase;
	background-color:$neutral;
	display: table; 
	font-size:18px;}

	& h2 {color:white!important;
		font-size:80px!important;
		font-family: $font-title;
		font-weight:400!important;
		line-height:1.5!important;
	& span {font-style:italic;}	

	
	}
}
	h2.yellow::selection {
		background:$primary;
	}

	.scrolldown { grid-area: scrolldown;
	text-align:center;

	& img {width:2.4rem;}}

	.lineSVG {
		transform: rotate(45deg);
		top:60%;
		left:70%;
		position:absolute;
		z-index:0;
		& svg {
		display: block;
		margin: 1em auto;
	  }
	}

	.heroSVG {
		transform: rotate(45deg);
		top:-20%;
		left:-20%;
		position:absolute;
		z-index:0;
		& svg {
		display: block;
		margin: 1em auto;
	  }
	}	

@media (max-width: 736px)  {
    #hero {
	  height: 100vh;
	  max-width:100%;
	}
	#hero .content {

		width: 100%;
		padding:8rem 6rem 6rem 6rem;
	
		& p {
		display:none;}
	
		& h2 {color:white!important;
			font-size:30px!important;
			font-family: $font-title;
			line-height:1.5!important;	}

		
	}
	

  }

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0; 
		display: block;
		pointer-events: none;
		opacity: 0;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

@media (max-width: 736px)  {
	#about .sidetextL {display:none;}
	#about .vertical {display: none;}
	.sidetext {	display: none;}
	
	.selfintro p {
		font-family: $font-title;
		font-size:25px!important;}


		.skills {
			& h4 {font-size:11px!important;}
			& p {color:$text-color;
				font-size:10px!important;
			& span {display:block;
			& i {font-size:25px;}}}
			& img {width:2.7rem;}}


  }


#about {
    width: 100%;
	height: 100vh;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(228, 228, 228, 0.5)),url("/img/aboutbg.png");
	background-size: cover;
	background-position: center;
   
	display: grid;
	grid-template-columns: 0.4fr 1.4fr 0.4fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;

	.aboutLineSVG {
		transform: rotate(180deg);
		top:170%;
		right:70%;
		position:absolute;
		z-index:0;
		& svg {
		display: block;
		margin: 1em auto;
	  } }

}

#about .content {

	grid-area: 2 / 2 / 3 / 3;
	width: 100%;
	padding:1rem;}

#about .sidetextL { grid-area: 2 / 1 / 3 / 2;
		padding:3rem;
	& p { 
		transform: rotate(-90deg);}}

#about .vertical { 
		grid-area: 1 / 3 / 4 / 4; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
   & p {
	   padding-bottom:0rem;

   }
}

#about .horizontal { grid-area: 3 / 2 / 4 / 4;
	
	& hr {
		height: 1px;
		background: white;
		border: none;
		outline: none;
		position: relative;
		
		&:after {
		  
		  content: attr(data-symbol);
		  position: absolute;
		  top: 0;
		  background: none;
		  color: white;
		  font-size:30px;
		  transform: translate(88%, -54%);		  
		}
	  }
	  
	 & hr#two {
		&:before {
		  left: 90%;
		  width: 20%;
		  padding: 1em;
		  top: 1px;
		}
	  }
 }

.selfintro {
	text-align:center;
	margin:3rem;
	& p {
	font-family: $font-title;
	font-size:35px;
	color:white;
	line-height:1.5;
	& span {color:$secondaryDark!important;
	font-style:italic;}
    & a {color:$primary!important;}}
	& p.green::selection {
		background:$primary;
	}}

.skills {
	& h4 {font-size:14px;}
	& p {color:$text-color;
		font-size:15px;
	& span {display:block;
	& i {font-size:25px;}}}
	& img {width:2.7rem;}}

.hobbys {
	& ul li {	font-family: $font-title;
		font-size:25px;
		color:$text-color;
		line-height:1.5;}}	

.sidetext {	font-family:$font-text;
	text-transform:uppercase;
	color:white;
	font-weight:600;
	letter-spacing:3px;
	font-size:15px;}

#tabs-with-content {  height:28rem;}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
	height:28rem;
  padding: 3rem;
  display: none;
  overflow:auto;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.tabs a {
	background-color: none;
	align-items: center;
	border: none!important;
	color: white!important;
	font-weight:bold;
	display: flex;
	justify-content: center;
	vertical-align: top;
	transition: 0.4s;
}

.tabs a:hover {
	background-color: transparent!important;
	color: $text-color!important;
}

.tabs li.is-active a {
	background-color: transparent!important;
	color:#333030!important;
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

@media (max-width: 736px)  {
	#projects .content {
		grid-area: content;
		width: 100%;
		padding:1rem;} 

		.portfolio__labels {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 10vh;
			margin-bottom: 5vh;
			padding:1rem;
			width: 30rem!important;

		  }

		  .portfolio__container {
			overflow:auto;
			max-height: 100vh;
			max-width: 100%;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
	
		  }


  }


#projects {
	background-color: $neutral;
    width: 100%;
	height: 240vh;


	display: grid;
	grid-template-columns: 0.3fr 2.4fr 0.3fr;
	grid-template-rows: 0.2fr 2.5fr 0.3fr;
		gap: 0px 0px;
	grid-template-areas:
	  ". . ."
	  ". content ."
	  ". . .";
  }

#projects .content {
	grid-area: content;
	height:210vh;
	overflow:auto;
	width: 100%;
	padding:1rem;} 

	.portfolio__labels {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 10vh;
		margin-bottom: 5vh;
		padding:1rem;
		width: 50rem;

		& a {
			text-transform: uppercase;
			font-weight: bold;
			color: #333030;
			transition: 0.4s;

			&:hover {color:$secondary;}		  }
	  }
	  

	  
	  .portfolio__container {
		max-width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

	  }

	  

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
	background-image: linear-gradient(to left, rgba(252, 252, 252, 0.7), rgb(216, 216, 216)), url("/img/projectsbg.png");
	background-size: cover;
	background-position: center;
    width: 100%;
	height: 100vh;
  }

#contact .content {
	text-align:center;
	width: 100%;
	padding:10rem 4rem 4rem 4rem;

	& h4 {color:white;
		font-size:60px;
		font-family: $font-title;
		font-weight:400;}

} 

.field {
	text-align:left;
	.labelname {color:white;
	font-family: $font-text;}
}	
	
.control input[type=text],input[type=email],textarea {
		background-color: white!important;
		border-radius:10px!important;
		border: 1px solid white!important;
        font-size:12px!important;
		padding:1.3rem!important;
		color:$secondary!important;
	  }
.control input:focus, textarea:focus {
    outline: none!important;
    border:none;
    box-shadow: 0 0 10px $secondary!important;
}	 

form {
	margin:0 auto;
width:60%;
	button {padding:0.7rem 1.5rem 0.7rem 1.5rem;
	border-radius:10px;
	border:none;
	color: $secondary;
    background: white;
	transition:0.5s;
	cursor:pointer;
   & p {font-weight:bold;}}

   button:hover {
	box-shadow: 0 0 10px $secondary;
	color:white;
    background: $secondary;
}   

}


/* --- 5.0 Footer --- */

footer {background-color:$secondary;
	padding:2rem!important;}


/* --------- Languages ---------*/
span[lang="fr"], p[lang="fr"], h1[lang="fr"], h2[lang="fr"], h2[lang="fr"], div[lang="fr"] {
	display: none;
  }


  